body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.field, .action {
  margin-bottom: 10px; 
}

p, td {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}